<%-include('./layouts/admin_header');-%>

<a class="btn btn-success m-4" href="/admin/add-products">Add products</a>

<section>
    <div class="row m-3">
        <table class="table">
            <thead class=" table-dark">
              <tr>
                <th scope="col">Item-name</th>
                <th scope="col">Item-category</th>
                <th scope="col">Item-prize</th>
                <th scope="col">Item-stock</th>
                <th scope="col">Item-image</th>
              </tr>
            </thead>
            <tbody>

       <% data.forEach(function(item){ %>

              <tr>
               
                <td><%=item.itm_name%></td>
                <td><%=item.itm_category%></td>
                <td><%=item.itm_prize%></td>
                <td><%=item.itm_stock%></td>
                <td><img width="50px" height="50px" src="<%=item.itm_image%>"</td>
              </tr>
         <% }) %>    
            </tbody>
          </table>

    </div>
</section>