<%-include('./layouts/user_header')-%>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10 mb-1 ">
        <div class="float-right">
                    <center><button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort By
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Prize</button>
                        <button class="dropdown-item" type="button">Popularity</button>
                        <button class="dropdown-item" type="button">Something else </button>
                    </div></center>
                    
        </div>
    </div>
</div>
<div class="row p-3 bg-white">
   
        <p>Showing <%=data.length%> Items</p>
    
    <% if (info) { %> 
              <script>alert('Added item to cart!');</script> 
       <% } %>

        <% data.forEach((el)=>{%>
    <div class="col-md-3 col-sm-12">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"  src="<%=el.itm_image%>" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title"><%=el.itm_name%></h5>
      
            <a class="btn btn-success" href="/addtocart/<%=el._id%>">Add to cart</a>   <a class="btn btn-warning" href="">Buy Now</a>
            </div>
        </div>
    </div>    
<%})%>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
              